@model List<SpauldingRidgeSalesForecastingNazneen.ViewModels.SalesViewModel>

@{
    ViewData["Title"] = "Sales Details";
}

<h2>Sales Details</h2>

<h3>Total Sales: @ViewBag.TotalSales</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>State</th>
            <th>Total Sales</th>
            <th>Incremented Sales</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.State</td>
                <td>@item.TotalSales</td>
                <td>@item.IncrementedSales</td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Chart" method="get">
    <input type="hidden" name="year" value="@ViewBag.Year" />
    <input type="hidden" name="percentage" value="@ViewBag.Percentage" />
    <button type="submit" class="btn btn-info mt-3"><i class="bi bi-bar-chart"></i> View Sales Chart</button>
</form>

<form asp-action="BreakdownChart" method="get">
    <input type="hidden" name="year" value="@ViewBag.Year" />
    <input type="hidden" name="percentage" value="@ViewBag.Percentage" />
    <button type="submit" class="btn btn-info mt-3"><i class="bi bi-bar-chart"></i> View Breakdown Chart</button>
</form>
